<div class="container">

<div class="log-form">
  <h2>Login to your account</h2>
  <form>
    <input type="text" title="username" placeholder="username" />
    <input type="password" title="username" placeholder="password" />
    <button type="submit" class="btn" href="maintenance_logs">Login</button>
    <a class="forgot" href="maintenance_logs">Forgot Username?</a>
  </form>
</div>
</div><!--end log form -->
  
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>

