    
   
    <div class="col-sm-7">
            <div class="well">
                <h4>Add Pump</h4>
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
<br>
    <div class="row">
        <!-- table for valves -->
            <div class="col-sm-6">
                <div class="well">
                        <h3>Valves</h3>
                        <table class= 'PumpMaintforParts' id='ValvesMaint-table'>
                            <thead>
                                <tr>
                                    <th scope="col">Pump Number</th>
                                    <th scope="col">Valves T/B</th>
                                    <th scope="col">Earliest</th>
                                    <th scope="col">Ideal</th>
                                    <th scope="col">Immediately</th>
                                </tr>   
                            </thead>
                            <tbody>
                                    <tr>
                                        <th rowspan="2" scope="rowgroup">112313</th>
                                        <th scope="row">Soft</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hard</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>

                                    <tr>
                                        <th rowspan="2" scope="rowgroup">112309</th>
                                        <th scope="row">Soft</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hard</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>

                                    <tr>
                                        <th rowspan="2" scope="rowgroup">112333</th>
                                        <th scope="row">Soft</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hard</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2" scope="rowgroup">112434</th>
                                        <th scope="row">Soft</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hard</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2" scope="rowgroup">112753</th>
                                        <th scope="row">Soft</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hard</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2" scope="rowgroup">112564</th>
                                        <th scope="row">Soft</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hard</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2" scope="rowgroup">112343</th>
                                        <th scope="row">Soft</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hard</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2" scope="rowgroup">112213</th>
                                        <th scope="row">Soft</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hard</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2" scope="rowgroup">112534</th>
                                        <th scope="row">Soft</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hard</th>
                                        <td>100,000,000</td>
                                        <td>200,000,000</td>
                                        <td>300,000,000</td>
                                    </tr>
                            </tbody>                     
                        </table>
                </div>
            </div>

<!-- table for seats -->
            <div class="col-sm-6">
                <div class="well">
                        <h3>Seats</h3>        
                            <table class= 'PumpMaintforParts' id='SeatsMaint-table'>
                                <thead>
                                    <tr>
                                        <th scope="col">Pump Number</th>
                                        <th scope="col">Seats T/B</th>
                                        <th scope="col">Earliest</th>
                                        <th scope="col">Ideal</th>
                                        <th scope="col">Immediately</th>
                                    </tr> 
                                </thead>
                                <tbody>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112313</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>

                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112309</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>

                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112333</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112434</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112753</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112564</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112343</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112213</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112534</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                </tbody>
                            </table>
                </div>
            </div>
<br>
<!-- table for packing -->
            <div class="col-sm-6">
                <div class="well">
                        <h3>Packing</h3>        
                            <table class= 'PumpMaintforParts' id='PackingMaint-table'>
                                <thead>
                                    <tr>
                                        <th scope="col">Pump Number</th>
                                        <th scope="col">Packing S/H</th>
                                        <th scope="col">Earliest</th>
                                        <th scope="col">Ideal</th>
                                        <th scope="col">Immediately</th>
                                    </tr> 
                                </thead>
                                <tbody>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112313</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>

                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112309</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>

                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112333</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112434</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112753</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112564</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112343</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112213</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" scope="rowgroup">112534</th>
                                            <th scope="row">Soft</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hard</th>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                </tbody>
                            </table>
                </div>
            </div>
<br>
<!-- table for plungers -->
            <div class="col-sm-6">
                <div class="well">
                        <h3>Plungers</h3> 
                        <table class= 'PumpMaintforParts' id='PlungersMaint-table'>
                                <thead>
                                    <tr>
                                        <th scope="col">Pump Number</th>
                                        <th scope="col">Earliest</th>
                                        <th scope="col">Ideal</th>
                                        <th scope="col">Immediately</th>
                                    </tr> 
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>112313</td>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <td>112309</td>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <td>112333</td>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <td>112434</td>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <td>112753</td>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <td>112564</td>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <td>112343</td>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <td>112213</td>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                        </tr>
                                        <tr>
                                            <td>112534</td>
                                            <td>100,000,000</td>
                                            <td>200,000,000</td>
                                            <td>300,000,000</td>
                                            </tr>
                                      </tbody>
                            </table>

                </div>
            </div>
    </div>
    </div>
            <div class="col-sm-2 sidenav">
                    <div class="well">
                            <h3>Saved Pumps</h3> 
                            <table id='PlungersMaint-table'>
                                    <thead>
                                        <tr>
                                            <th scope="col">Pump Number</th>

                                        </tr> 
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td>112313</td>
                                        <td><button type="button" class="btn btn-danger">X</button></td>
                                        </tr>
                                        <tr>
                                        <td>112309</td>  
                                        <td><button type="button" class="btn btn-danger">X</button></td>
                                        </tr>
                                        <tr>
                                        <td>112333</td> 
                                        <td><button type="button" class="btn btn-danger">X</button></td>
                                        </tr>
                                        <td>112434</td>
                                        <td><button type="button" class="btn btn-danger">X</button></td>
                                        </tr>
                                        <tr>
                                        <td>112753</td>  
                                        <td><button type="button" class="btn btn-danger">X</button></td>
                                        </tr>
                                        <tr>
                                        <td>112564</td> 
                                        <td><button type="button" class="btn btn-danger">X</button></td>
                                        </tr>
                                        <td>112343</td>
                                        <td><button type="button" class="btn btn-danger">X</button></td>
                                        </tr>
                                        <tr>
                                        <td>112213</td>  
                                        <td><button type="button" class="btn btn-danger">X</button></td>
                                        </tr>
                                        <tr>
                                        <td>112534</td> 
                                        <td><button type="button" class="btn btn-danger">X</button></td>
                                        </tr>
                                        </tbody>
                                </table>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>